@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#tab-list .close {
	    margin-left: 7px;
	}
	#tab-list .edit {
	    margin-left: 7px;
	}

.container{
  background-color: #484140;
}


*{
  font-family: 'Poppins', sans-serif;
}

.url{
  text-decoration: none;
  color: #0074D9;
}

.note{
  color: red;
}


.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
body {
	 background-color: #1e272d;
}
.remove-link{
	font-size: 24px
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  /*border-top-right-radius: 2px;*/
  /*border-bottom-right-radius: 2px;*/
}
.add-btn::before {
  left: 14px;
  /*border-top-left-radius: 2px;*/
  /*border-bottom-left-radius: 2px;*/
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: red;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  /*border-top-left-radius: 2px;*/
  /*border-bottom-left-radius: 2px;*/
}
.add-icon::after {
  right: 22px;
  /*border-top-right-radius: 2px;*/
  /*border-bottom-right-radius: 2px;*/
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn{
  margin: 0 auto;
  display:block;
}
ul{
  list-style-type: none;
  text-align: center;
  align-items: center;
}
  /*padding: 12px;*/
#tab-content > div > ul > li{
  /*display: inline-block;*/
}
#tab-content > div > ul{
  /*white-space: nowrap;*/
}
.add-btn{
  text-align: center;
}
/*.dropdown{*/
/*  left: 370px;*/
/*}*/
